# `.gitignore` file for <project-name>
# ------------------------------------
# Syntax:
# - `*` : Any number of characters
# - `/` :  Directory
# - `**/` : Any number of directories, including none
# - `!` : Include
# - `#` : Comment

## Temporary files
*.tmp
*.temp

## Private files - Credentials
.git-credentials

## Data directories or files

## System-specific Patterns
.DS_Store

## Environment-specific Patterns

## Language-specific Patterns
__pycache__/
*.py[cod]

## Tool-specific Patterns 

### Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Sphinx
docs/_build/

### Pytest
.pytest_cache/

### MyPy
.mypy_cache/
